:root {
  interpolate-size: allow-keywords;
  --nav-height: 104px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  background: #121213;
  z-index: 1002;
}
.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
}
.nav-left {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.nav-menu {
  display: flex;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 16px;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
    &:hover {
      background: #2b2b2c;
    }
  }
}
.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #2b2b2c;
  color: #fff;
  padding: 0 16px;
  border-radius: 8px;
}
.dropdown {
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: var(--nav-height);
  padding: 24px 0;
  height: 0px;
  width: 100%;
  background: #121213;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  &:is(.active) {
    opacity: 1;
    pointer-events: auto;
    height: fit-content;
  }
}
.dropdown-wrapper {
  display: flex;
  gap: 32px;
  max-width: 1140px;
  width: 100%;
  height: fit-content;
  .titles {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-right: 1px solid #ffffff80;
    width: 228px;
    a {
      text-decoration: none;
      color: #ffffff80;
      font-size: 16px;
      transition: all 0.1s ease-in-out;
      transform-origin: left;
      &:hover {
        color: #fff;
        transform: scale(1.15);
      }
    }
  }
  .content {
    display: flex;
    width: 100%;
  }
}
.subsection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  a {
    color: #ffffff;
    text-decoration: none;
    &:first-child {
      color: #ffffff80;
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  backdrop-filter: blur(50px);
  z-index: 1000;
}
.hero-section {
  height: 200vh;
  width: 100%;
  background-size: contain;
  background-image: url("https://storage.yandexcloud.net/yac-wh-sb-prod-s3-media-03005/uploads/article/1598/abce4a3bc3a9f343180cc20b81fbbeb4.webp");
}
